<% if Current.user %>
  <div>
    <%= button_to "Logout", session_path, method: :delete %>
  </div>
<% end %>
<p style="color: green"><%= notice %></p>
<p style="color: red"><%= alert %></p>

<% content_for :title, "Attachments" %>

<h1>Attachments</h1>

<div id="attachments">
  <table>
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>Action</th>
    </tr>
    
    <% @attachments.each do |attachment| %>
      <tr>
        <td><%= attachment.id %></td>
        <td><%= attachment.title %></td>
        <td><%= link_to "Show this attachment", attachment %></td>
      </tr>
    <% end %>
  </table>
</div>

<%= link_to "New attachment", new_attachment_path %>
