<p style="color: green">
<!--  Fix notice when attachment is downloaded-->
  <%= notice %>
</p>

<div>
  <%= link_to "Back to attachments", attachments_path %>
  <%= render @attachment %>

  <%= link_to "Download attachment", download_attachment_path %>
  <%= button_to "Destroy this attachment", @attachment, method: :delete %>
  <%= form_with url: generate_public_link_attachment_path(@attachment), method: :post, remote: true do |form| %>
    <%= form.submit "Generate Public URL" %>
  <% end %>

</div>

<div>
  <% if @attachment.key %>
    Public Link: <%= public_link_url @attachment.key %>
  <% end %>
</div>

<div id="public-url-container"></div>
