<p style="color: green">
<!--  Fix notice when attachment is downloaded-->
  <%= notice %>
</p>

<div>
  <%= link_to "Back to attachments", attachments_path %>
  <%= render @attachment %>

  <%= link_to "Download attachment", download_attachment_path %>
  <%= button_to "Destroy this attachment", @attachment, method: :delete %>
  <%= link_to "Share attachment", generate_public_link_attachment_path %>

</div>

<div>
  <% if @attachment.key %>
    Public Link: <%= public_link_url @attachment.key %>
  <% end %>
</div>
